* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #222;
}

.navigation-button {
  background-color: #ff477e;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 1em 0;
  border: none;
}